.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

img {
  vertical-align: middle;
  border-style: none;
  height: 225px;
}

.name1 {
  margin-bottom: 0;
}

.name2 {
  font-size: 20px;
  margin-bottom: 0;
}

.dob {
  font-size: 20px;
}

h4 {
  border-bottom: 2px solid;
}

.about1 {
  margin-bottom: 0;
}

.about2 {
  margin-bottom: 10px;
}
.about3{
  margin-bottom: 0;
  color: black;
}

.card-body {
  height: 280px;
}

.dream{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}